:root {
  --background-grey: rgba(16, 29, 44, 0.9);
  --grey: rgb(16, 29, 44);
  --white: rgb(240, 240, 240);
  --text-grey: rgb(196, 192, 192);
  --background-light-grey: rgba(74, 83, 93, 0.9);
  --border-width: 2rem;
  --transparent-white: rgba(240, 240, 240, 0.8);
  --tan: rgba(210, 180, 140, 0.95);
}
