:root {
  --background-grey: rgba(16, 29, 44, 0.9);
  --grey: rgb(16, 29, 44);
  --white: rgb(240, 240, 240);
  --text-grey: rgb(196, 192, 192);
  --background-light-grey: rgba(74, 83, 93, 0.9);
  --border-width: 2rem;
  --transparent-white: rgba(240, 240, 240, 0.8);
  --tan: rgba(210, 180, 140, 1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5% /* 1 rem = 10px */;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(../img/hillside-river.png);
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hillside-river.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.main {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
}
.main::-webkit-scrollbar {
  display: none;
}
.section-divider {
  margin-bottom: 8rem;
  border: none;
}
#home-id {
  margin-bottom: 0;
}
.section-heading {
  margin: 0rem 5rem 5rem 5rem;
}
body {
  color: rgb(240, 240, 240);
  color: var(--white);
}
.nav_name {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.nav_link {
  color: rgb(196, 192, 192);
  color: var(--text-grey);
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.active,
.nav_link:hover {
  color: rgb(240, 240, 240);
  color: var(--white);
}
.name-text {
  font-size: 6rem;
}
.role-text {
  font-size: 4rem;
}
.description-text {
  font-size: 2rem;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.project-showcase_header {
  color: rgb(16, 29, 44);
  color: var(--grey);
  font-size: 2.25rem;
}
.link {
  text-decoration: none;
}
.about-text-container {
  font-size: 2.25rem;
}
.contact-text,
.email-text {
  font-size: 3rem;
  color: rgb(16, 29, 44);
  color: var(--grey);
}
@media (max-width: 78em) {
.contact-text,
.email-text {
    font-size: 2.5rem;
}
  }
@media (max-width: 25em) {
.contact-text,
.email-text {
    font-size: 2rem;
}
  }
.email-text {
  text-decoration: underline;
  -webkit-text-decoration: underline solid var(--grey);
          text-decoration: underline solid var(--grey);
  text-underline-offset: 0.4rem;
}
.quote-box {
  font-size: 2rem;
  color: rgb(16, 29, 44);
  color: var(--grey);
}
@media (max-width: 78em) {
.quote-box {
    font-size: 1.75rem;
}
  }
@media (max-width: 25em) {
.quote-box {
    font-size: 1.65rem;
}
  }
.footer {
  font-size: 1.5rem;
  color: rgb(196, 192, 192);
  color: var(--text-grey);
}
.project-showcase {
  border: 0.2rem solid rgb(240, 240, 240);
  border: 0.2rem solid var(--white);
  box-shadow: 0px 0px 0.2rem 0.2rem rgb(240, 240, 240), 5px 5px 0.5rem 0.25rem rgb(16, 29, 44);
  box-shadow: 0px 0px 0.2rem 0.2rem var(--white), 5px 5px 0.5rem 0.25rem var(--grey);
  border-radius: 0.25rem;
  background-color: rgb(240, 240, 240);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-showcase_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}
.project-name {
  word-wrap: break-word;
}
.projects_svg {
  width: 4rem;
  height: 4rem;
  fill: rgb(16, 29, 44);
  fill: var(--grey);
  padding-top: 0.25rem;
}
.project-img {
  width: 33rem;
  padding: 2rem 0.5rem;
  border: 0.25rem solid rgb(16, 29, 44);
  border: 0.25rem solid var(--grey);
}
.about {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 50em){
.about {
  flex-wrap: wrap-reverse;
}
}
.about-text-container {
  margin-left: 5rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 62.5em) {
.about-text-container {
    padding-right: 2rem;
}
  }
.about-text-container > * {
  text-shadow: 5px 5px rgb(16, 29, 44);
  text-shadow: 5px 5px var(--grey);
  margin: 1rem 0;
}
.resume-link {
  margin-top: 2rem;
}
@media (max-width: 50em) {
.resume-link {
    align-self: center;
}
  }
.resume-pic {
  height: 30rem;
  border: 0.75rem solid rgba(74, 83, 93, 0.9);
  border: 0.75rem solid var(--background-light-grey);
  box-shadow: 5px 5px 0.5rem 0.25rem rgb(16, 29, 44);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);

}
@media (max-width: 62.5em) {
.resume-pic {
    height: 25rem;

}
  }
.snowshoe-pic {
  min-height: 47rem;
  max-height: 75vh;
  border: 0.3rem solid rgb(16, 29, 44);
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  margin: -5rem 5rem 0 5rem;
  box-shadow: 5px 5px 0.5rem 0.25rem rgb(16, 29, 44);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);
}
@media (max-width: 62.5em) {
.snowshoe-pic {
    margin: -4rem 5rem 0 1rem;
    max-height: 70vh;
}
  }
@media (max-width: 50em) {
.snowshoe-pic {
    margin: -2.5rem 2rem 2rem 2rem;
}
  }
.contact {
  position: relative;
  min-height: 80vh;
}
.map-box {
  background-image: url(../img/new-haven.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0 auto;
  min-height: 55vh;
  width: 90vw;
  border: 0.25rem solid rgb(16, 29, 44);
  border: 0.25rem solid var(--grey);
}
@media (max-width: 62.5em) {
.map-box {
    min-height: 35rem;
}
  }
@media (max-width: 42.5em) {
.map-box {
    min-height: 55rem;
}
  }
.contact-box {
  border: 0.1rem solid rgb(16, 29, 44);
  border: 0.1rem solid var(--grey);
  position: absolute;
  top: 18%;
  left: 10%;
  width: 80vw;
  height: 55vh;
  background-image: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240), rgb(16, 29, 44));
  background-image: linear-gradient(var(--white), var(--white), var(--grey));
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 0 2rem;
}
@media (max-width: 62.5em) {
.contact-box {
    min-height: 35rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background-image: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240), rgb(240, 240, 240), rgb(16, 29, 44));
    background-image: linear-gradient(var(--white), var(--white), var(--white), var(--grey));
    top: 15%;
    left: 10%;
    width: 80vw;
}
  }
@media (max-width: 50em) {
.contact-box {
    padding-bottom: 2rem;
}
  }
@media (max-width: 42.5em) {
.contact-box {
    min-height: 55rem;
    gap: 2.5rem;
    top: 10%;
    left: 10%;
    width: 80vw;
}
  }
.profile-pic {
  width: 20rem;
  height: 20rem;
  border: 0.25rem solid rgb(16, 29, 44);
  border: 0.25rem solid var(--grey);
  border-radius: 50%;
}
@media (max-width: 62.5em) {
.profile-pic {
    width: 15rem;
    height: 15rem;
    margin-top: .5rem;
}
  }
.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 42.5em) {
.contact-text {
    margin-top: -5rem;
}
  }
.icon-box {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.contact_svg {
  fill: rgb(16, 29, 44);
  fill: var(--grey);
  width: 4rem;
  height: 4rem;
}
@media (max-width: 78em) {
.contact_svg {
    width: 3rem;
    height: 3rem;
}
  }
.quote-box {
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 62.5em) {
.quote-box {
    flex-grow: 2;
    align-self: stretch;
    justify-content: flex-start;
}
  }
.quote-box:before {
  content: "";
  position: absolute;
  top: -6rem;
  left: -2rem;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  background-size: 6rem 6rem;
  width: 6rem;
  height: 6rem;
}
@media (max-width: 78em) {
.quote-box:before {
    background-size: 5rem 5rem;
}
  }
@media (max-width: 62.5em) {
.quote-box:before {
    top: -5rem;
    left: 0;
}
  }
@media (max-width: 50em) {
.quote-box:before {
    left: -1rem;
}
  }
@media (max-width: 42.5em) {
.quote-box:before {
    top: -6rem;
}
  }
@media (max-width: 25em) {
.quote-box:before {
    background-size: 4rem 4rem;
    top: -5rem;
}
  }
.author {
  margin-top: 1rem;
}
.footer {
  height: 5rem;
  width: 100vw;
  margin: 10rem 0 0 3rem;
  vertical-align: middle;
}
.landing-page {
  height: 90vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.waterfall {
  height: 40rem;
  border: 0.3rem solid rgb(16, 29, 44);
  border: 0.3rem solid var(--grey);
  box-shadow: 5px 5px 0.5rem 0.25rem rgb(16, 29, 44);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);
  border-radius: 0.5rem;
  margin: 1rem;
}
.landing-page_text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landing-page_text-container > * {
  text-shadow: 5px 5px rgb(16, 29, 44);
  text-shadow: 5px 5px var(--grey);
}
.description-text {
  margin-top: 1rem;
  text-align: center;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(../img/hillside-river.png);
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hillside-river.png);
  background-size: cover;
  background-position: top;
}
.nav_name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}
.nav_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}
.nav_link {
  padding: 1rem;
}
.active {
  background-color: rgba(74, 83, 93, 0.9);
  background-color: var(--background-light-grey);
}
.projects {
  min-height: 70vh;
  display: grid;
  grid-template-rows: repeat(auto-fit, 36rem); /* Project height = 36rem */
  grid-template-columns: repeat(auto-fill, 35rem); /* Project width = 35rem */
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  justify-content: space-around;
  align-content: center;
}
