:root {
  --background-grey: rgba(16, 29, 44, 0.9);
  --text-light: rgb(240, 240, 240);
}
*,
*::before,
*::after {
  border-style: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5% /* 1 rem = 10px */;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(../img/hero.jpg);
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
  color: rgb(240, 240, 240);
  color: var(--text-light);
}
.nav_name {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.nav_link {
  font-family: "Georgia", serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(240, 240, 240);
  color: var(--text-light);
}
.nav {
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.nav_list {
  list-style: none;
  display: flex;
}
