:root {
  --background-grey: rgba(16, 29, 44, 0.9);
  --grey: rgb(16, 29, 44);
  --white: rgb(240, 240, 240);
  --text-grey: rgb(196, 192, 192);
  --background-light-grey: rgba(74, 83, 93, 0.9);
  --border-width: 2rem;
  --transparent-white: rgba(240, 240, 240, 0.8);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5% /* 1 rem = 10px */;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(../img/hero.jpg);
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.main {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
}
.main::-webkit-scrollbar {
  display: none;
}
.section-divider {
  margin-bottom: 8rem;
  border: none;
}
.section-heading {
  margin: 0rem 5rem 5rem 5rem;
}
body {
  color: rgb(240, 240, 240);
  color: var(--white);
}
.nav_name {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.nav_link {
  color: rgb(196, 192, 192);
  color: var(--text-grey);
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.active,
.nav_link:hover {
  color: rgb(240, 240, 240);
  color: var(--white);
}
.name-text {
  font-size: 6rem;
}
.role-text {
  font-size: 4rem;
}
.description-text {
  font-size: 2rem;
}
.section-heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.project-showcase_header {
  color: rgb(16, 29, 44);
  color: var(--grey);
  font-size: 2.25rem;
}
.project-link {
  text-decoration: none;
}
.about {
  margin: 5rem 0;
  display: flex;
}
.snowshoe-pic {
  height: 40rem;
  border: .25rem solid rgb(16, 29, 44);
  border: .25rem solid var(--grey);
  border-radius: 50%;
}
.landing-page {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.waterfall {
  height: 40rem;
  border: .5rem solid rgb(240, 240, 240);
  border: .5rem solid var(--white);
  border-radius: .5rem;
  box-shadow: 0px 0px 0.5rem 0.25rem rgb(240, 240, 240);
  box-shadow: 0px 0px 0.5rem 0.25rem var(--white);
  margin: 1rem;
}
.landing-page_text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(../img/hero.jpg);
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}
.nav_name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}
.nav_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}
.nav_link {
  padding: 1rem;
}
.active {
  background-color: rgba(74, 83, 93, 0.9);
  background-color: var(--background-light-grey);
}
.projects {
  margin: 5rem 0;
  display: grid;
  grid-template-rows: repeat(auto-fit, 36rem); /* Project height = 36rem */
  grid-template-columns: repeat(auto-fill, 35rem); /* Project width = 35rem */
  grid-gap: 2rem;
  justify-content: space-around;
}
.project-showcase {
  border: 0.2rem solid rgb(240, 240, 240);
  border: 0.2rem solid var(--white);
  box-shadow: 0px 0px 0.5rem 0.2rem rgb(240, 240, 240);
  box-shadow: 0px 0px 0.5rem 0.2rem var(--white);
  background-color: rgb(240, 240, 240);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-showcase_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}
.project-name {
  word-wrap: break-word;
}
.projects_svg {
  width: 4rem;
  height: 4rem;
  fill: rgb(16, 29, 44);
  fill: var(--grey);
  padding-top: 0.25rem;
}
.project-img {
  width: 33rem;
  padding: 2rem 0.5rem;
  border: 0.25rem solid rgb(16, 29, 44);
  border: 0.25rem solid var(--grey);
}
