*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% /* 1 rem = 10px */;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.main {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
}

.main::-webkit-scrollbar {
  display: none;
}

.section-divider {
  margin-bottom: 5.5rem;
  border: none;
}

.section-heading {
  margin: 0rem 5rem 5rem 5rem;
}

