*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% /* 1 rem = 10px */;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hillside-river.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.sr-only {
  display: none;
}

.main {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100vw;
}

.main::-webkit-scrollbar {
  display: none;
}

.section-divider {
  margin-bottom: 8rem;
  border: none;
}

#home-id {
  margin-bottom: 0;
}

.section-heading {
  margin: 0rem 5rem 5rem 5rem;
}

.logo_name {
  position: fixed;
  min-width: 10rem;
  z-index: 2;
  top: 0.5rem;
  left: 2rem;
}