body {
  color: var(--white);
}

.logo_name {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 100;
}

.nav_link {
  color: var(--text-grey);
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  @media (--tab-port) {
    color: var(--white);
  }
}

.active,
.nav_link:hover {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.name-text {
  font-size: 6rem;
  @media (--phone) {
    font-size: 5.25rem;
  }
}

.role-text {
  font-size: 4rem;
  @media (--phone) {
    font-size: 3.5rem;
  }
}

.description-text {
  font-size: 2rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.project-showcase_header {
  color: var(--grey);
  font-size: 2.25rem;
}

.link {
  text-decoration: none;
}

.about-text-resume-container {
  font-size: 2.25rem;
}

.contact-text,
.email-text {
  font-size: 3rem;
  color: var(--grey);
  @media (--reduced-window) {
    font-size: 2.5rem;
  }
  @media (--phone) {
    font-size: 2rem;
  }
}

.email-text {
  text-decoration: underline solid var(--grey);
  text-underline-offset: 0.4rem;
}

.quote-box {
  font-size: 2rem;
  color: var(--grey);
  @media (--reduced-window) {
    font-size: 1.75rem;
  }
  @media (--phone) {
    font-size: 1.65rem;
  }
}

.footer {
  font-size: 1.5rem;
  color: var(--text-grey);
}
