body {
  color: var(--white);
}

.nav_name {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 100;
}

.nav_link {
  color: var(--text-grey);
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.active,
.nav_link:hover {
  color: var(--white);
}

.name-text {
  font-size: 6rem;
}

.role-text {
  font-size: 4rem;
}

.description-text {
  font-size: 2rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.project-showcase_header {
  color: var(--grey);
  font-size: 2.25rem;
}

.project-link {
  text-decoration: none;
}
