.about {
  margin: 5rem 0rem;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap-reverse;  At media query breakpoint  */
}

.about-text-container {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resume-link {
  margin-top: 2rem;
}

.resume-pic {
  height: 30rem;
  border: 0.75rem solid var(--background-light-grey);
}

.snowshoe-pic {
  height: 47rem;
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  margin: -5rem 5rem 0 5rem;
}
