.about {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  @media (--tab-land) {
    flex-wrap: wrap-reverse;
  }
}

.about-text-resume-container {
  margin-left: 5rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (--small-window) {
    padding-right: 2rem;
  }
  @media (--tab-port) {
    padding: 0 1.5rem;
    margin-left: 0;
  }
}

.about-text-resume-container > * {
  text-shadow: 5px 5px var(--grey);
  margin: 1rem 0;
}

.about-text-resume-container p {
  @media (--phone) {
    text-align: center;
  }
}

.resume-link {
  margin-top: 2rem;
  @media (--tab-land) {
    align-self: center;
  }
}

.resume-pic {
  height: 30rem;
  border: 0.75rem solid var(--background-light-grey);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);
  @media (--small-window) {
    height: 25rem;
  }
  @media (--phone) {
    height: 20rem;
  }
}

.snowshoe-pic {
  min-height: 47rem;
  max-height: 75vh;
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  margin: -5rem 5rem 0 5rem;
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);
  @media (--small-window) {
    margin: -4rem 5rem 0 1rem;
    max-height: 70vh;
  }
  @media (--tab-land) {
    margin: -2.5rem 2rem 2rem 2rem;
  }
  @media (--tab-port) {
    max-height: 60vh;
  }
  @media (--phone) {
    min-height: 30rem;
    max-height: 43rem;
  }
}
