.contact {
  position: relative;
}

.map-box {
  background-image: url(../img/new-haven.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0 auto;
  min-height: 50vh;
  width: 90vw;
}

