.contact {
  position: relative;
  min-height: 90vh;
}

.map-box {
  background-image: url(../img/new-haven.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin: 0 auto;
  min-height: 50vh;
  width: 90vw;
  border: 0.25rem solid var(--grey);
}

.contact-box {
  border: 0.1rem solid var(--grey);
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70vw;
  height: 55vh;
  background-image: linear-gradient(var(--grey), var(--tan), var(--grey));
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 0 2rem;
  @media (--small-window) {
    height: 70vh;
    flex-wrap: wrap;
  }
  @media (--tab-port) {
    height: 80vh;
    padding: 2rem;
  }
}

.profile-pic {
  width: 20rem;
  height: 20rem;
  border: 0.25rem solid var(--grey);
  border-radius: 50%;
  @media (--small-window) {
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
  }
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (--tab-port) {
    margin-top: -5rem;
  }
}

.icon-box {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact_svg {
  fill: var(--grey);
  width: 4rem;
  height: 4rem;
  @media (--reduced-window) {
    width: 3rem;
    height: 3rem;
  }
}

.quote-box {
  position: relative;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @media (--small-window) {
    grid-row: 2 / 3;
  }
  @media (--tab-land) {
    margin: -3rem 0 3rem 0;
  }
}

.quote-box:before {
  content: "";
  position: absolute;
  top: -7rem;
  left: -2rem;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  background-size: 6rem 6rem;
  width: 6rem;
  height: 6rem;
  @media (--tab-land) {
    left: -1rem;
  }
}

.author {
  margin-top: 1rem;
}
