.landing-page {
  height: 90vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.waterfall {
  height: 40rem;
  border: 0.3rem solid var(--grey);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);

  border-radius: 0.5rem;
  margin: 1rem;
}

.landing-page_text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing-page_text-container > * {
  text-shadow: 5px 5px var(--grey);
}
