.landing-page {
  height: 90vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (--tab-port) {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 7rem;
    gap: 3rem;
  }
  @media (--phone) {
    margin-top: 6rem;
    height: 83vh;
  }
}

.landing-page_img-container {
  @media (--phone) {
    align-self: stretch;
  }
}

.waterfall {
  height: 40rem;
  border: 0.3rem solid var(--grey);
  box-shadow: 5px 5px 0.5rem 0.25rem var(--grey);
  border-radius: 0.5rem;
  margin: 1rem;
  @media (--phone-land) {
    margin-bottom: 10rem;
  }
  @media (--phone) {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
    border: none;
  }
}

.landing-page_text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (--phone) {
    gap: .5rem;
    padding: 0 .5rem;
  }
}

.landing-page_text-container > * {
  text-shadow: 5px 5px var(--grey);
}

.description-text {
  margin-top: 1rem;
  @media (--phone) {
    margin-top: 2rem;
  }
}