.landing-page {
  padding-top: 5rem;
  height: 100vh;
  display: flex;
}

.waterfall {
  height: 40rem;
  border: .5rem solid var(--white);
  border-radius: .5rem;
  box-shadow: 0px 0px 0.5rem 0.25rem var(--white);
  margin: 5rem 8rem;
}

