.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100vw;
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hillside-river.png);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: flex-end;
  @media (--tab-port) {
    height: 100vh;
    justify-content: center;
    background: none;
  }
}

#primary-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  background-image: linear-gradient(
      var(--background-grey),
      var(--background-grey)
    ),
    url(../img/hillside-river.png);
  background-size: cover;
  background-position: top;

  @media (--tab-port) {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-right: 0;
  }
}

.nav_link {
  padding: 1rem;
}

.active {
  background-color: var(--background-light-grey);
}


