.nav {
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.nav_name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}

.nav_link {
  padding: 1rem;
}

.active {
  background-color: var(--background-light-grey);
}
